.image-map-container {
    display: flex;
    flex-wrap: wrap;
    margin: 24px auto;
    
    
}

/* .event-map {
    max-width: 850px;
} */

.event-info-container {
    display: flex;
}

.event-info-container .col1 {
    width: 60%;
}

.event-info-container .col2 {
    margin-left: 50px;
}

.event-image {
    margin-right: 20px; 
}

.purchase-button {
    padding:10px 20px;
    margin: 20px 0 40px 0;
}

.event-info-comments-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 20px;
}

.event-info {
    flex: 2 200px;
    padding-right: 80px;
    max-width: 850px;
}

.event-comments {
    flex: 1 200px;
    max-width: 850px;
    margin-bottom: 40px;
}

.comment-time {
    font-size: 14px;
    color: darkgray;
}


@media (max-width: 1430px) {
    .event-image {
        width: 400px;
        

    }
}

@media (max-width: 900px) {
    .event-info-container {
        flex-direction: column;
    }

    .event-info-container .col1 {
        width: 100%;
    }

    .event-info-container .col2 {
        margin: 20px 0;
        width: 80%;
        display: inline-block;
        display: flex;
        justify-content: space-between;
        
    }

    .event-info-container .col2 {
        
    }

   
}
