.image-map-container {
    display: flex;
    margin-bottom: 24px;
}

.event-map {
    max-width: 850px;
}

.event-image {
    max-width: 850px;
    height: 400px;
    margin-right: 20px;
}

.purchase-button {
    padding:10px 20px;
    margin: 20px 0 40px 0;
}

.event-info-comments-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.event-info {
    flex: 2 200px;
    padding-right: 80px;
}

.event-comments {
    flex: 1 200px;
}

.comment-time {
    font-size: 14px;
    color: darkgray;
}

