

.purchase-button {
    padding:10px 20px;
    margin: 20px 0 40px 0;
    color: white;
    border: none;
    /* margin-left: 20px; */
}

.make-booking-button {
    padding:12px 25px;
    margin: 20px 0 40px 0;
    color: white;
    border: none;
}

.event-info-comments-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 20px;
}

.event-info {
    /* flex: 2 200px; */
    /* padding-right: 80px; */
    max-width: 45%;
    min-width:500px;
    font-size: 1rem;
}

.event-image{
    width: 100%;
    max-width: 800px
}

.event-map{
    width: 500px;
    height: 500px
}

@media screen and (max-width: 800px) {
    .event-map{
        margin-top: 1rem;
        width: 100%;
        height: 300px
    }
    
}



.image-map-container{
    display: flex;
    flex-wrap: wrap;
}

.event-info p{
    margin: 0;
    font-size: 1rem;
}

.event-info h5{
    margin: 0;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.event-comments {
    /* flex: 1 200px; */
    width: 45%;
    min-width: 500px;
    margin-bottom: 40px;
    /* border: 1px solid rgb(0, 0, 0); */
    box-shadow: rgba(0, 0, 0, 0.35) 1px 3px 10px;
    border-radius: 1rem;

}

.event-comments-container{
    max-height: 400px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    margin: 1rem;
    -ms-overflow-style: none;
}


.single-comment {
    /* border: 1px solid hotpink; */
    box-shadow: rgba(0, 0, 0, 0.35) 1px 3px 10px;
    border-radius: 1rem;
    padding: 0.6rem;
    margin: 0.5rem;
}

.single-comment h5{
    margin: 0;
}

.single-comment p{
    margin: 0
}

.quill-editor{
    margin: 0.5rem
}

.comment-time {
    font-size: 14px;
    color: darkgray;
    margin: 0;
}

@media screen and (max-width: 700px) {
    .event-info {
        /* flex: 2 200px; */
        /* padding-right: 80px; */
        max-width: 100%;
        min-width: 300px;
        font-size: 1rem;
    }
    .event-comments {
        /* flex: 1 200px; */
        width: 100%;
        min-width: 300px;
        margin-bottom: 40px;
        border: 1px solid rgb(0, 0, 0);
    }
    
}
