footer {
    height: 160px;
    width: 100vw;
    background-color: #A62216;
    padding: 0;
    margin-top: 150px;
}

.footer-flex {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
}

.footer-item {
    flex: 1 200px;
    padding: 50px 50px 0 50px;
    height: 100px;
}

#footer-right {
    text-align: right;
}

.footer-item > p {
    color:white;
}

footer > p {
    color:white;
    font-size: 14px;
    padding: 0 0 0 50px;
    margin: 0 auto;
    max-width: 1920px;
}

#footer-links > a {
    text-decoration: none; 
    color: white;
    padding: .5rem 2rem;
    display: block;
}

@media screen and (max-width: 770px) {
    .footer-flex {
        flex-direction: column;
    }
    footer {
        height: 450px;
    }
    .footer-item {
        flex: 1;
        padding: 20px 40px 0 40px;
    }
    #footer-right {
        text-align: left;
    }
    #footer-links > a {
        padding: 0;
    }
}