.seated-booking-container{
  max-width: 1240px;
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
}

.seat-map-viewport{
  border: 1px solid red;
  width: fit-content;
  font-size: 0.5rem; /* THIS IS THE ONE TO CHANGE THE SIZE OF THE SEATS */
}

.stage{
  width: 30%;
  border: 1px solid black;
  margin: 0 auto 3em;
  text-align: center;
  padding: 2em 0;
}

.seat-row{
  display: flex;
  gap: 0.3em;
  width: fit-content;
  margin: 1em 0;
}

.seat{
  width: 2em;
  height: 2em;
  border-radius: 0.45em;
  border: 1px solid black;
  text-align: center;
  position: relative;
}

.seat::after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 1.6em;
  left: 0;
}

.available{
  background-color: green;
}
.available:hover, .held:hover{
  cursor: pointer;
}
.booked{
  background-color: grey;
}
.held{
  background-color: blue;
}